/*Variables*/
$bgColor: black;
$textColor: white;
$mainTitleSize: 5vh;
$subtitle: 28px;
$bgButton: grey;
$texButtonSize: 17px;
$marginButton: 0px; 
$paddingButton: 0px 5px 0px 10px;
$borderButton: outset white 3px;
$animationDuration:5s;
$animationCount:2000;
$iconSize: 45px;
$imageLeftHome: auto auto;
$bordertext: dotted 1px;

